@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
    color: aliceblue;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background: #ff4b1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1fddff, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  }
  .main{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: 'Poppins', sans-serif;

  }
  .btn1{
    margin:30px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;

  }
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  .para{
      margin-top: 200px;
  }
  .heading{
      margin-top: 40px;
  }